.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 2%;
}

.logo {
  width: 100px
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}


.nav-items > ul > li{
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  margin: 10px;
}

.res-card:hover {
  border: 3px solid rgb(53, 53, 53);
}

.res-logo {
  width: 85%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  margin: 10px;
}

.log-btn {
  padding: 0 20px;
  border: 2 solid black;
  border-radius: 10%;
}

.menu-item {
  margin: 15px;
  padding: 10px;
  background-color: #f0f0f0;
}

.menu-item:hover {
  border: 1px solid rgb(15, 15, 15);
}